<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shoppursshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MANAGE_NEWLAND" />
    <uses-permission android:name="android.permission.MANAGE_NEWLANDUART3" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".utilities.AppController"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:icon,android:theme">
        <activity
            android:name=".activities.settings.SyncDataActivity"
            android:label="@string/title_activity_sync_data"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
            android:name=".activities.settings.UserListActivity"
            android:label="@string/title_activity_user_list"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.AddUserActivity"
            android:label="@string/title_activity_add_user"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.ShopCartActivity"
            android:label="@string/title_activity_shop_cart"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.ShoppursProductListActivity"
            android:label="@string/title_activity_shoppurs_product_list"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.BannerDetailsActivity"
            android:label="@string/title_activity_banner_details"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.UpdateStockActivity"
            android:label="@string/title_activity_update_stock"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".morphdialog.DialogActivity"
            android:theme="@style/AppTheme.NoActionBar.Dialog" />
        <activity
            android:name=".activities.ChooseDeviceActivity"
            android:label="@string/title_activity_choose_device"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.CustomerAddressActivity"
            android:label="@string/title_activity_customer_address"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.ImageActivity"
            android:label="Image"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.payment.ccavenue.activities.CCAvenueWebViewActivity"
            android:label="@string/title_activity_CCAvenueWebViewActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.ApplyOffersActivity"
            android:label="@string/title_activity_apply_offers"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.CouponOffersActivity"
            android:label="@string/title_activity_coupon_offers"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.settings.CreateCouponOfferActivity"
            android:label="@string/title_activity_create_coupon_offer"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.ProductPriceOfferActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.settings.ComboProductOfferActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.settings.FreeProductOfferActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.settings.CreateOfferActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.DeliveryAddressActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activities.TransactionDetailsActivity"
            android:label="@string/title_activity_transaction_details"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.MyOrderDetailsActivity"
            android:label="@string/title_activity_my_order_details"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.MyProductListActivity"
            android:label="@string/title_activity_my_product_list"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.MySubCategoriesActivity"
            android:label="@string/title_activity_my_sub_categories"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.MyCategoriesActivity"
            android:label="@string/title_activity_my_categories"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.MySalesActivity"
            android:label="@string/title_activity_my_sales"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.BuyUserLicenceActivity"
            android:label="@string/title_activity_buy_user_licence"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.AddPaymentDevice"
            android:label="@string/title_activity_add_payment_device"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.CartActivity"
            android:label="@string/title_activity_cart"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.payment.mPos.MPaymentTransactionActivity"
            android:label="@string/title_activity_mpayment_transaction"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.payment.mPos.MPayTransactionDetailsActivity"
            android:label="@string/title_activity_mpay_activation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.payment.mPos.MPayActivity"
            android:label="@string/title_activity_mpay"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.MyOrdersActivity"
            android:label="@string/title_activity_my_orders"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.MyOffersActivity"
            android:label="@string/title_activity_my_orders"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.SyncProductActivity"
            android:label="@string/title_activity_sync_product"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.AddSubCatActivity"
            android:label="@string/title_activity_add_sub_cat"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.AddCategoryActivity"
            android:label="@string/title_activity_add_category"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.profile.KYCActivity"
            android:label="@string/title_activity_kyc"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.settings.profile.BankDetailsActivity"
            android:label="@string/title_activity_bank_details"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.profile.DeliveryActivity"
            android:label="@string/title_activity_delivery"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.settings.profile.AddressActivity"
            android:label="@string/title_activity_address"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.settings.profile.BasicProfileActivity"
            android:label="@string/title_activity_basic_profile"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.settings.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.settings.DisplaySettingsActivity"
            android:label="@string/title_activity_display_settings"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InvoiceActivity"
            android:label="@string/title_activity_invoice"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.BaseImageActivity"
            android:label="@string/title_activity_base_image"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.OrderSelectProductListActivity"
            android:label="@string/title_activity_order_select_product_list"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.OrderDetailActivity"
            android:label="@string/title_activity_order_detail"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.CustomerInfoActivity"
            android:label="@string/title_activity_customer_info"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.BaseActivity" />
        <activity
            android:name=".activities.settings.SettingActivity"
            android:label="@string/title_activity_setting"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.NetworkBaseActivity" />
        <activity
            android:name=".activities.OffersActivity"
            android:label="@string/title_activity_offers"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CategoryListActivity"
            android:label="@string/title_activity_products"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CustomerListActivity"
            android:label="@string/title_activity_customer_list"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SubCatListActivity"
            android:label="@string/title_activity_sub_cat_list"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProductListActivity"
            android:label="@string/title_activity_product_list"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CustomerProfileActivity"
            android:label="@string/title_activity_customer_profile"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AddProductActivity"
            android:label="@string/title_activity_add_product"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activities.AddCustomerActivity"
            android:label="@string/title_activity_add_customer"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ScannarActivity"
            android:label="@string/title_activity_scannar"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB-GKvcnqqzEBxT6OvmVPfNs7FBppblo-s" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.shoppursshop.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service android:name=".services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>